{% extends 'Navbar/Projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Time by Location</title>
</head>
<body>

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Select a Location to View the Current Time</h1>
            <form method="post" action="{% url 'location_time_view' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Get Time</button>
            </form>
        </div>
        <div class="col">
                <h2>Current time in {{ selected_location }}: {{ current_time }}</h2>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>
